
/*font*/
/* font-family: 'Farro', sans-serif;

font-family: 'Gothic A1', sans-serif; */
body {
    background:wheat;
    margin: 0;
    padding: 0;
}
/*nav*/
.box {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.box-button {
   text-align: center;
   color:white;
   font-size: 40px;
   padding: 10px;
   position: relative;
   

}
.box-button a{
   list-style-type: none;
   display: inline-block;
   padding: 14px;
   position:absolute;
   left: 160px;
   margin: 24px 0 24px 0 ;
   text-decoration: none;
   color: white;
   width: 300px;
   height: 100px;
   background-color: gold;
   border-radius: 10px;
   transition: all 1s;
}

.box-button a:hover {
   transform: scale(1.05);
  
}
.box-content i{
   text-align: center;
   font-size: 56px;
   font-weight: 600;
   color: goldenrod;

}
.box-text {
   text-align: center;
   padding: 20px;
   font-family: 'Gothic A1', sans-serif;
 
}
.box-text p {
   font-size: 14px;
   opacity: 0.6;
}
.box-text h1 {
   font-family: 'Farro', sans-serif;
   color: black;

}
.header {
   margin: 36px 0 36px 0;
}
.header p{
   color:black;
   text-align: center;
   font-size: 22px;
   font-family: 'Gothic A1', sans-serif;
   opacity: 0.6;
   
}
.header h1 {
   color:black;
   text-align: center;
   font-size: 36px;
   font-weight: 500;
   font-family: 'Farro', sans-serif;
} 
.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.row h1 {
   color:white;
   text-align: center;
   font-size: 36px;
   font-weight: 500;
   font-family: 'Farro', sans-serif;
}

.wraper {
   height: 100vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   text-align: justify;
   margin: 14px;
   padding: 14px;
 }
.bg-container {
   height: 100vh;
   background-image: url('https://images.unsplash.com/photo-1511140973288-19bf21d7e771?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
}
/*nav*/
.list {
   display: block;

}
.list li {
   list-style-type: none;
   display: inline-block;
   padding: 13px;
   margin: 0 24px 0 24px;
  
}
.list li a {
   text-decoration: none;
   min-width: 150px;
   min-height: 100px;
   color: white;
   text-align: center;
}
/* portfolio*/

.header-portfolio h1 {
   font-family: 'Farro', sans-serif;
   color: black;
   font-size: 36px;
   
   
}
.portfolio {
   background-color: lightgray;
   height:100%;
   width: 100%;
}
.box-img {
   display: flex;
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding: 24px;
   margin: 12px;
}